.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}
#map {
  height: 900px;
}

::ng-deep .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  opacity: 0.95;
}