<mat-toolbar color="primary">
  <span style="margin-left: 700px">
    Air quality and UV index monitoring application
  </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label | uppercase }}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <div
    class="mat-elevation-z21"
    style="padding: 15px; margin-right: 50px; margin-left: 50px"
  >
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
