table {
  width: 20px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr.mat-header-row {
  height: 35px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.date-block{
  display: flex;
  margin-left: 200px;
}

.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}
